<app-toolbar title="Clientes" (onNew)="create()" ></app-toolbar>
<div class="table-responsive">
  <table class="custom-table">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Email</th>
        <th>Teléfono</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let customer of customers">
        <td data-label="Nombre">{{ customer.name }} {{ customer.surname }}</td>
        <td data-label="Email">{{ customer.email }}</td>
        <td data-label="Teléfono">{{ customer.phone }}</td>
        <td class="action-icons">
          <a
            [routerLink]="['/customerDetails', customer.id]"
            title="Ver detalles"
          >
            <i class="bi bi-eye"></i>
          </a>
          <a [routerLink]="['/customerForm', customer.id]" title="Editar">
            <i class="bi bi-input-cursor-text"></i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
